@media screen and (device-height: 480px) {
    .history-container {
        height: 170px;
    }
}

.history-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    margin-bottom: -2px;
    padding-bottom: 0px;
}

.history-result-image {
    width: 100%;
    height: auto;
}

#math-field-container {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.keyboard-button {
    margin-bottom: -1px;
}